apiVersion: v1
baseDomain: env.net
compute:
- hyperthreading: Enabled
  name: worker
  replicas: 0
controlPlane:
  hyperthreading: Enabled
  name: master
  replicas: {{ groups['master'] | length }}
metadata:
  name: {{ cluster_id }}
platform:
  vsphere:
    vcenter: {{ vm_version }}
    username: "{{ vm_guest_id }}"
    password: "{{ vm_password }}"
    datacenter: {{ vm_datacenter }}
    defaultDatastore: {{vm_datastore }}
pullSecret: '{"auths":{"{{ mirror_fqdn }}:5000": {"auth": "{{ pull_secret }}"}}}'
imageContentSources:
- mirrors:
  - {{ mirror_fqdn }}:5000/ocp4/openshift4
  source: quay.io/openshift-release-dev/ocp-release
- mirrors:
  - {{ mirror_fqdn }}:5000/ocp4/openshift4
  source: quay.io/openshift-release-dev/ocp-v4.0-art-dev
sshKey: '{{ ssh_var }}'
additionalTrustBundle: |
{{ crt_var|indent(2, true) }}
